<nav>
    <div id="navbar">
        <h1>Scraper News</h1>
    </div>

<ul class="navbar-list">
    <li><a href="/">Home</a></li>
    <li><a href="/saved">Saved Articles</a></li>
</ul>
</nav>
<div>
    <div class="overlay"></div>
    <div class="background-image"></div>
    <div class="caption">
        <h1>Saved Articles</h1>
        <p>Your Saved Articles</p>
    </div>
</div>
<footer>
    <div>
        <p>Miami Herald Mongo Scraper</p>
    </div>
</footer> 

<script  src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="../../assets/javascript/saved.js></script>
